<h1>See restaurant info</h1>

<p><strong>Name:</strong> <%= @restaurant.name %> </p>
<p><strong>Address:</strong> <%= @restaurant.address %> </p>
<p><strong>Rating:</strong> <%= @restaurant.rating %> </p>


<%= link_to 'back to restaurants', restaurants_path %> |
<%= link_to 'update restaurant', edit_restaurant_path(@restaurant) %> |
<%= link_to 'delete', restaurant_path(@restaurant), data: { turbo_method: :delete, turbo_confirm: 'r u sure?' } %>
